---
interface Props {
  route: string;
}

const { route } = Astro.props;
const activePath = Astro.url.pathname;

const isActive = activePath.includes(route);
---

{
  !isActive ? (
    <a href={route} class="hover:underline">
      <slot />
    </a>
  ) : (
    <span class="font-bold underline">
      <slot />
    </span>
  )
}
